*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.login-form .frst-card .bg-img{
  height: 100%;
  position: relative;
  /* object-fit:contain; */
}
.login-form .frst-card{
  height: 100vh;
}
.login-form .frst-card .main-cont{
    position: absolute;
    top: 200px;
    left:150px;
    z-index: 2;
}
.login-form .frst-card .logo-img{
  height: 100px;
  width: 100px;
}
.login-form .scnd-card .main-cont2{
  margin-top: 120px;
}
.login-form .scnd-card .main-cont2 .form .inp{
 width:400px;
}
.login-form .scnd-card .main-cont2 .form .fg-pas{
  color: #466e9e;
}
.login-form .scnd-card .main-cont2 .form .loginBtn{
     border-radius: 10px;
     height:50px;
     background: #254266;
}
.login-form .scnd-card .main-cont2 .form .loginBtn:hover{
     box-shadow: 2px 2px 5px #001B48;
     background: #001B48;
}
.login-form .scnd-card .main-cont2 .copyright{
  position: absolute;
  bottom: 0px;
}
.sidebar{
  min-height: 100vh;
  max-height: auto;
  background-color: #001231;
}
.sidebar .logo-img{
  height:60px;
  width:60px;
}
.sidebar .sidelist-data{
gap:30px;
}
.sidebar .sidelist-data li{
  padding: 10px;
}
.sidebar .sidelist-data li:hover{
  border-radius:5px;
  display: block;
  width: 100%;
 background: #254266;
}
.sidebar .sidelist-data .frst-angle-btn{
  position:absolute;
 left:120px;
}
.sidebar .sidelist-data .scnd-angle-btn{
  position:absolute;
 left:125px;
}
.sidebar .sidelist-data #frst-menu{
background:#001231;
}
.bj{
  position: absolute;
}
.main-dashboard-card .profile-img{
  height:35px;
  border-radius: 50%;
}
.navbar{
  background: white;
}
.main-dashboard-card {
  background: #F8F9FB;
}
.main-body-hol .card-sec .cards{
  border-radius: 10px;
  height:150px;
}
.sm-font{
  font-size:15px;
}
.main-body-hol .card-sec .cards .icon-hol{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:40px;
  border-radius: 50%;
  background: #000;
}
.DataShowCards{
border-radius: 10px;
}
.main-body-hol .card-sec .cards .txt{
  position: absolute;
  bottom: 0px;
}
.main-body-hol .card-sec .cards .hol1{
  background:#2689E7 ;
}
.main-body-hol .card-sec .cards .hol2{
  background:#109B47 ;
}
.main-body-hol .card-sec .cards .hol3{
  background:#F0AC15 ;
}
.main-body-hol .card-sec .cards .hol4{
  background:#DF4C43;
}
.main-body-hol .card-sec .cards .hol5{
  background:#8A54CB;
}
.main-body-hol .card-sec .cards .hol6{
  background:#1BAFA7;
}
.main-body-hol .table-hol-card{
  background: white;
  border-radius: 10px;
}
.form-sec .cards{
  border-radius:12px ;
}
.Violation_list{
  height: 250px;
  overflow-y:scroll;
  border: 1px solid gray;
}
.cncl-btn{
  border:1px solid black;
  width:100px;
}
.cncl-btn:hover{
  background: #f5f5f5;
}
#challan-body{
  background: #F8F9FB;
}
.challan-card-hol .logo-img{
  height: 120px;
}
.challan-card-hol .cards{
  border-radius: 10px;
  height: 250px;
}
.new_challan_btn,.new_violation_btn{
  background-color: #44B262;
  border-radius:9px ;
}
.backBtn{
  width: 100px;
  background:#3D3ACD;
}
.backBtn a{
  font-size: 20px;
}
.backBtn:hover{
  background: #0D559D;
}
.button-sec .btn-hols{
  height: 60px;
}
.button-sec .btn-hols:hover{
  border-bottom: 2px solid #3D3ACD;
}
.chlan-card .srch-btn,.srch-btn2,.srch-btn3,.srch-btn4{
  background: #001B48;
  border-radius: 10px;
  width: 80px;
  height: 50px;
}
.print-btn{
  border: 1px solid #001B48;
  color: #001B48;
  height: 50px;
  width: 150px;
}
.print-btn:hover{
  background: #001B48 ;
  color: white;
}
.mdx-font{
  font-size:18px;
}
.md-font{
  font-size:20px;
}
.card-hdr{
  background: white;
}
.srch-hol input{
   width:25% ;
   border-radius: 4px;
}
.srch-hol input:focus{
  border: 1px solid #001B48;}
.button-sec .btns{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
  height: 100%;
}
.inner-card{
  border: 1px solid #E2E8F0;
  box-shadow: 10px 10px 8px #E2E8F0;
}
.pay-btn,.saveBtn{
  width: 100px;
  color: #109B47;
  border:1px solid #109B47;
}
.saveBtn:hover{
   background: #44B262;
   color:white;
}
.pay-btn:hover{
  background: #44B262;
}
.report-sec-btn-hol .btns{
  border: 1px solid #2667FF;
  color:#2667FF;
  border-radius: 10px;
  height: 50px;
  width: 100%;
}
#apply-btn{
  width: 100px;
}
#fromDate,#toDate{
  width:260px;
   box-shadow:2px 2px 10px gray;
}
.FilterCardbtns:hover{
  color: white;
}
.FilterCardbtns,.chngePass{
  margin-top: 20px;
  color: white;
  border-radius: 10px;
  height: 50px;
  box-shadow: 4px 4px 4px gray;
  background: #2667FF;
}
.ResetBtn:hover{
  border: 1px  solid gray;
}
.ResetBtn{
  margin-top: 20px;
  width: 100px;
   border-radius: 10px;
  height: 50px;
  box-shadow: 4px 4px 4px gray;
}
.report-sec-btn-hol .btns:hover{
  color: white;
  box-shadow: 5px 5px 6px gray;
  background: #2667FF;
}
.report-sec-btn-hol .card{
  border-radius: 10px;
}
.editBtn,.editBtnForViolation{
  background: #109B47;
  color: white;
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}
.editFormCard{
  border-radius: 10px;
}
.ChangePasswordCard{
  border-radius:10px ;
  border:1px solid #466e9e;
  box-shadow: 4px 4px 5px #466e9e;
}
@media (max-width:1100px){
    .srch-hol input{
   width:100% ;
}
  .login-form .frst-card .bg-img{
    width:100%;
    object-fit: cover;
    height:45%;
}
.login-form .frst-card .main-cont{
  left: 392px;
}
.login-form .scnd-card{
  position: relative;
bottom:750px;
}
.login-form .scnd-card .main-cont2 .copyright{
 top: 650px;
}
}
@media (max-width:576px){
  #fromDate,#toDate{
  width:auto;
   box-shadow:2px 2px 10px gray;
}
  .srch-hol input{
   width:100% ;
}
  .login-form .frst-card .main-cont{
  left:120px;
 top: 100px;
}
.login-form .scnd-card .main-cont2 .form .inp{
 width:250px;
}
.login-form .scnd-card{
bottom:500px;
}
}